{{> navigation}}
<section>

<h2>{{student.first_name}}'s  Assignment Grades</h2>
<table>
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Class Title</th>
            <th>Total Marks</th>
            <th>Obtained Marks</th>
            <th>View Your Progress</th>
            
            
        </tr>
    </thead>
    <tbody>
        {{#each student.assignment}}
        <tr>
            <td>{{class_id}}</td>
            <td>{{class_title}}</td>
            <td>{{total}}</td>
            <td>{{obtained_marks}}</td>
            <td>
                <form method="post" action="/students/classes/assignment" >
                <input type="hidden" name="class_id" value="{{class_id}}">
                <input type="hidden" name="obtained_marks" value="{{obtained_marks}}">
                <input type="submit" value="View Your Progress">
                 </form>
            </td>
            
            
            
        </tr>
        {{/each}}
    </tbody>
</table>
</section>