{{> navigation}}
<section>
    {{#if success_msg}}
        <div class="callout success" data-closable="slide-out-right" >
            
           <p><i class="fi-alert"></i> {{success_msg}} </p>
            
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
               <span aria-hidden="true">&times;</span>
            </button>

            
        </div>    
        {{/if}}
<h2>{{class.title}}</h2>

<table>
    <thead>
        <tr>
            <th>Student_Username</th>
            <th>Quiz</th>
            <th>Mid</th>
            <th>Final</th>
            <th>Assignment</th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
        {{#each class.enrolled_students}}
        <tr>
            
            <form method="post" action="/instructors/classes/{{../class._id}}/grades" id="myform" >
            
            <td>{{student_username}}<input type="hidden" name="student_username" value="{{student_username}}"></td>
            
            <td><input type="number" name="quiz"></td>
            <td><input type="number" name="mid"></td>
            <td><input type="number" name="final"></td>
            <td><input type="number" name="assignment"></td>
            <td><input type="submit" class="button" value="Add Grade"></td>
            
            </form>
            
         
         </tr>
        {{/each}}
    </tbody>
</table>

</section>