{{> navigation}}
<section>
    {{#if success_msg}}
        <div class="callout success" data-closable="slide-out-right" >
            
           <p><i class="fi-alert"></i> {{success_msg}} </p>
            
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
               <span aria-hidden="true">&times;</span>
            </button>

            
        </div>    
        {{/if}}
<h2>{{class.title}}</h2>


<table>
    <thead>
        <tr>
            <th>Quiz</th>
            <th>Mid</th>
            <th>Assignment</th>
            <th>Final</th>
           
           
           
        </tr>
    </thead>
    <tbody>
        
        <tr>
            
            <td><a href="/instructors/classes/{{class._id}}/addQuiz" class="button">Add Quiz</a></td>
            <td><a href="/instructors/classes/{{class._id}}/addMid" class="button">Add Mid</a></td>
            <td><a href="/instructors/classes/{{class._id}}/addAssignment" class="button">Add Assignment</a></td>
            <td><a href="/instructors/classes/{{class._id}}/addFinal" class="button">Add Final</a></td>
            

         
         </tr>
        
    </tbody>
</table>

</section>