


 


 {{> navigation}}
 

<div class="neat-article-container">
  <div class="grid-x large-8 columns align-center">
    
    <div class="neat-article-title">
     <section>
     <h3 class="article-title">
       {{class.title}}
      </h3>
      </section>
    </div>
    
  </div>
  <div class="neat-article-image">
   <img class="article-image" src="https://i.imgur.com/0buQ75a.jpg" alt="Space">
  </div>
  
      <section>
            <div class="grid-y neat-article-content" >
                
                <div class="cell " id="sticky1">
                        <div class="article-content">
                            <p>

                                    <strong>Instructor: </strong> {{class.Instructor}}
                                </p>
                                <p>

                                    <strong>Description:</strong> {{class.description}}

                                </p>

                            <ul>
                              {{#each class.lessons}}
                              <li>{{lesson_title}}</li>
                              {{/each}}
                            </ul>
                            
                            {{#if user}}
                            <form id="classRegform" method="post" action="/{{type}}s/classes/register">
                            
                            <input type="hidden" name="student_id" value="{{user._id}}">
                            <input type="hidden" name="class_id" value="{{class._id}}">
                            <input type="hidden" name="class_title" value="{{class.title}}">
                            <input type="submit" class="button"  value="Register for this class">

                            
                            </form>
                               {{else}}
                            <p>You must be logged in to register for this class</p>
                            {{/if}}
                           
                        </div>
                </div>
            </div>
        </section>
  </div>

</div>


{{> footer}}
