{{> navigation}}
<section>
<h2> {{class.title}}'s grades</h2>
<table >
    <thead>
        <tr>
            
            <th>Quiz</th>
            <th>Mid</th>
            <th>Final</th>
            <th>Assignment</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td><a class="button" href="/class/{{class._id}}/quizGrade">View Quiz Grade</a></td>
                <td><a class="button" href="/class/{{class._id}}/midGrade">View Mid Grade</a></td>
                <td><a class="button" href="/class/{{class._id}}/assignmentGrade">View Assignment Grade</a></td>
                <td><a class="button" href="/class/{{class._id}}/finalGrade">View Final Grade</a></td>
                
                
            </tr>
        

    </tbody>
</table>
</section>