
{{> navigation}}
 


<div class="neat-article-container">
  <div class="grid-x large-8 columns align-center">
    
    <div class="neat-article-title">
     <section>
       {{#if error_msg}}
        <div class=" callout alert " data-closable="slide-out-right" >
            
           <p><i class="fi-alert"></i> {{error_msg}} 
           </p> 
           <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
               <span aria-hidden="true">&times;</span>
            </button>
            
        </div>    
        {{/if}}
     <h3 class="article-title">
       View your classes here.
      </h3>
      </section>
    </div>
  </div>
  <div class="neat-article-image">
    <img class="article-image" src="https://i.imgur.com/0buQ75a.jpg" alt="Space">
  </div>
  <section>
  <div class="grid-y neat-article-content" >
    
    <div class="cell " id="sticky1">
      <div class="article-content">
         {{#each classes}}
        <h4>{{title}}</h4>
        <p>
          
          {{description}}
          <br>
          <strong>Instructor: {{Instructor}}</strong>
        </p>
       <a href="/class/{{_id}}/details" class="button">Class details</a>
        {{/each}}


  </div>
      </div>
    </div>
    </section>
  </div>

</div>


{{> footer}}
